
body{
    background:#eee;
}

.cell{
    font-size:0.8em;
    border:1px solid #999;
}

.cell select{
    width:100%;
}
.tab{
    display:grid;


}

.hidden{
    display:none;
}

.span_2{
    grid-column: span 2;
}
.span_3{
    grid-column: span 3;
}
.span_4{
    grid-column: span 4;
}