#tabmenu{
    list-style: none;
    display:flex;
    margin:0;
    padding:0;
}
#tabmenu li{
    width:100px;
    border:1px solid #000;
    background:#fff;
}
#tabmenu .active{
    background:#0f0;
}
body{
    background:#eee;
}

.cell{
    font-size:0.8em;
    border:1px solid #999;
}

.cell select{
    width:100%;
}
.tab{
    display:grid;
}
.cellbutton{
    display:inline-block;
    width: 100%;
    height: 100%;
    font-size:0.8em;
}

#app [v-cloak] {
    display: none;
  }

.hidden{
    display:none;
}

.span_2{
    grid-column: span 2;
}
.span_3{
    grid-column: span 3;
}
.span_4{
    grid-column: span 4;
}